body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    display: flex;
}
header {
    color: white;
    padding: 10px 0;
    text-align: center;
}
aside {
    width: 230px;
    background-color: #08095b;
    height: 100vh;
    position: fixed;
    color: white;
    padding-top: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    z-index: 1;
    
}
#logo {
    width: 200px;
    height: auto;
}
#logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
aside ul {
    list-style-type: none;
    padding: 0;
    
}
aside ul li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
aside ul li:hover {
    background-color: #000080;
    text-decoration: underline;
}
a {
  color:white;
  text-decoration: none;
}

main {
    margin-left: 230px;
    padding: 20px;
    color: white;     
    flex:1;
    min-height: 100vh;
}
#topo {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-right: 50px;
}
#adicionar {
    background-color: #1c9c43;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
#modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #1c1c1c;
  margin: 8% auto;
  padding: 20px;
  border: 1px solid #444;
  width: 400px; 
  border-radius: 12px;
  max-height: 75vh;  
  overflow-y: auto;
}
.fechar {
  float: right;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
#inputs-container input, #inputs-container textarea {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.buttons #salvar {
  background-color: #1c9c43;
  color: white;
  font-weight: bold;
}
.buttons #cancelar {
  background-color: #e50914;
  color: white;
  font-weight: bold;
}
#label-checkbox input {
  cursor: pointer;
}
#label-checkbox {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
#admin-container{
  flex: 1;
}

#lista-locais {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#card-locais {
    background: #1c1c1c;
    border: 2px solid #3a3a3a;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    gap: 20px;

}
#card-topo {

    align-items: center;
    font-size: 35px;
    margin-bottom: 5px;
    color: #fff;
}
#card-info {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
#card-imagem {

    width: 21%;
    height: auto;
    border-radius: 10px 0px 0px 10px;
}
#card-handle{
    font-size: 13px;
    color: #979797;
}
#card-descricao {
    font-size: 14px;
    line-height: 1.5;
    color: #ddd;
    word-break: break-word;
}
#card-tags {
    font-size: 15px;
    color: #979797;
}
#dias-horario {
    font-size: 15px;
    color: #ddd;
    display: flex;
    flex-direction: row;
}
#card-dias {
    margin-right: 50px;
}
#endereco-local {
    font-size: 15px;
    color: #ddd;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#card-endereco {
    margin-right: 45px;
}
#card-icone {
    margin-left: 20px;
}
