<!DOCTYPE html>
<html lang="pt-br">
  <link rel="stylesheet" href="../static/css/home.css">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Painel adm</title>
  </head>
  <body>
    <div id="admin-container">
      <aside> 
        <a href="home.html">
          <img id="logo" src="../static/assets/logosj.png" alt="Logo SJ">
        </a>
        <ul>
          <li data-section="atracao"><a href="atracao">Atração</a></li>
          <li data-section="equipe"><a href="equipe">Equipe</a></li>
          <li data-section="eventos"><a href="eventos">Eventos</a></li>
          <li data-section="exibicao"><a href="exibicao">Exibição</a></li>
          <li data-section="locais"><a href="locais">Locais</a></li>
          <li data-section="Polos"><a href="polo">Polos</a></li>
          <li data-section="Tags"><a href="tag">Tags</a></li>
          </ul>
      </aside>
    </div>
    <img id="bandeirinhas" src="../static/assets/bandeirinhas.png" alt="">

      <main id="main-content">
        <p>Bem-vindo ao painel administrativo!</p>
        <input type="text" id="searchInput" placeholder="Pesquisar..." />
      </main>

  </body>
</html>